In [2]:
# accept five integers and print true only if exactly three of them satisfy the condition : divisible by 4 but not divisable 
# by 6 print false otherwise 

count = 0
for i in range(5):
    num = int(input("Enter a number: "))
    
    if num % 4 == 0 and num % 6 != 0:
        count = count + 1

if count == 3:
    print(True)
else:
    print(False)

Enter a number:  16
Enter a number:  15
Enter a number:  12
Enter a number:  20
Enter a number:  36

False

In [3]:
# iterate number from 1 to 100 and print the first number whose square ends with the digit 6 but the number itself does not 
# ends with 6 . stp imediately after printing 

for num in range(1, 101):
    square = num * num

    if square % 10 == 6 and num % 10 != 6:
        print(num)
        break

4

In [4]:
# accept two values . if both can be converted to integer without error , print their integer 
#divison and remainder . otherwise print invalid 

a = input()
b = input()

try:
    x = int(a)
    y = int(b)
    print(x // y)
    print(x % y)
except:
    print("invalid")

 55
 6

9
1

In [43]:
#  write a user defined block that conditionally print values based on input and never explicitly returns anything .
# capture and display the returened result

def check(n):
    if n > 0:
        print("positive")
    else:
        print("not positive")

x = check(-9)
print(x)

not positive
None

#  from a given list , extract values that become prime numbers after subtracting 1 from each value 

lst = [4, 6, 8, 10, 12]
result = []

for n in lst:
    x = n - 1
    if x > 1:
        for i in range(

In [45]:
# transform a list so that values that values at composite index positions are replaced  
# by sum of their digits , while other values remain unchaged 

lst = [12, 34, 56, 78, 91, 23, 45]
res = []
pos = 0  
for val in lst:
    if pos % 2 == 0: 
        s = 0

In [10]:
# write logic that fliters a list such that values evaluating to false are removed without explicity checking truth value 

lst = [0, 1, "", "hi", [],{}, [1, 2], None, True, False]
res = list(filter(None, lst))
print(res)

[1, 'hi', [1, 2], True]

In [55]:
# combine a list of mixed values into a single string such that numeric values are squared , 
# non numeric values are reversed and all ouyputs are separated by :: 


lst = [2, "hi", 3, "abc"]
a = []
for x in lst:
    if type(x) == int or type(x) == float:
        a.append(str(x * x))
    else:
        a.append(x[::-1])
print (a)
op = "::".join(a)
print(op)

['4', 'ih', '9', 'cba']
4::ih::9::cba

In [54]:
# replace all repeating character in a string except thier first occurance with #. 

s = "rakshita"
res = ""
seen = ""
for ch in s:
    if ch in seen:
        res += "#"
    else:
        res += ch
        seen += ch

print(res)

rakshit#

In [ ]:
# extract character from string in alternating fashion : one from the start , one from the end , until exhausted 

s = "rakshita"
res = ""

for i in range

In [20]:
# create two separate lists with identical content , then demonstrate via output how one operation keeps the, independent 
# while another operation links them . 

list1 = [1, 2, 3]

list2 = list1.copy()
list2.append(4)

list3 = list1
list3.append(5)

print("list1:", list1)
print("list2:", list2)
print("list3:", list3)

list1: [1, 2, 3, 5]
list2: [1, 2, 3, 4]
list3: [1, 2, 3, 5]

In [33]:
# safely update a list during iteration so that all negative numbers are removed and positive are doubled 
lst = [2, -3, 4, -1, 5]
pst = []
for x in lst:
    if x > 0:
        pst.append(x * 2)

print(pst)

[4, 8, 10]

In [37]:
# demonsrate an immutable container whose content changes across multiple operations, showing output after each step 

t = (1, 2, 3)
print("Original tuple:", t)
t = t * 2
print("After repetition:", t)
t = t[1:5]
print("After slicing:", t)

Original tuple: (1, 2, 3)
After repetition: (1, 2, 3, 1, 2, 3)
After slicing: (2, 3, 1, 2)

In [39]:
# give two collection of values , compute common elements and non common elements without using any direct built-in shortcuts 

a = [1,2,3,4,5]
b = [4,5,6,7,8]

common = []
non_common = []

for x in a:
    if x in b:
        common.append(x)
    
for x in b:
    if x not in a:
        non_common.append(x)

print("Common:", common)
print("Non-common:", non_common)

Common: [4, 5]
Non-common: [6, 7, 8]

# update a maping such that values are accumulated across multiple update , including keys that do no intially exsist 

d = {"a": 2, "b": 3}
upd = {"a": 3, "b": 2, "c": 5}

for k in

In [64]:
#safely remove entries from a mapping where keys are numeric string and values cannot be  converted to integer 

d = {"1": "100", "2": "abc", "3": "200", "123": "300"}

for k in list(d):
    if k.isdigit() and not d[k].isdigit():
        del d[k]

print(d)

{'1': '100', '3': '200', '123': '300'}

In [62]:
# write data to a file in three separate writes , then read only exavt center charater(s) of the file 

f = open("data.txt", "w")
f.write("Hello")
f.write("World")
f.write("Python")
f.close()

f = open("data.txt", "r")
f.close()

In [69]:
# design a program where different inputss trigger normal execution , error handling and guarenteed cleanup logic respectively

try:
    x = int(input("Enter numerator: "))
    y = int(input("Enter denominator: "))

    result = x / y              
    print("Result:", result)

except ZeroDivisionError:          
    print("Error: Cannot divide by zero!")

else:
    print("Result:", result)

finally:                          
    print("Finished")

Enter numerator:  15
Enter denominator:  0

Error: Cannot divide by zero!
Finished

In [68]:
# from a list contaning numbers , numeric strings , empty strings and invalid entries , 
#extract valid integer , igonres other silently and compute minimum , maximum and avrage


lst = [10, "20", "", "abc", 5, "30", "xyz"]

valid_numbers = []

for x in lst:
    try:
        valid_numbers.append(int(x))
    except:
        pass 

if valid_numbers:
    minimum = min(valid_numbers)
    maximum = max(valid_numbers)
    average = sum(valid_numbers) / len(valid_numbers)
    print("Min:", minimum)
    print("Max:", maximum)
    print("Average:", average)
else:
    print("No valid numbers found")

Min: 5
Max: 30
Average: 16.25

In [65]:
# modify a list in place such that every third element is replaced by the sum of all elemnts befor it .
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

total = 0
for i in range(len(lst)):
    if (i + 1) % 3 == 0:   
        lst[i] = total
    total += lst[i]          
print(lst)

[1, 2, 3, 4, 5, 15, 7, 8, 45]